---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Not Found" description="404 Error — this page was not found">
	<Hero title="Page Not Found" tagline="Lost?" />
  <svg
   version="1.1"
   id="lost-path"
   viewBox="0 0 181.98482 165.62241"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs1" /><g
     id="g1"
     transform="translate(-47.671547,-45.341801)"><g
       id="g3"><path
         id="path3"
          style="color:var(--gradient-subtle);fill:url(#gradient-accent);-inkscape-stroke:none"
         d="m 138.66406,87.384766 c -18.78966,0 -34.0664,15.278704 -34.0664,34.068364 0,18.78965 15.27674,34.0664 34.0664,34.0664 18.78966,0 34.06641,-15.27675 34.06641,-34.0664 0,-18.78966 -15.27675,-34.068364 -34.06641,-34.068364 z m 0,4.214843 c 16.51195,0 29.85156,13.341571 29.85156,29.853521 0,16.51194 -13.33961,29.85156 -29.85156,29.85156 -16.51194,0 -29.85156,-13.33962 -29.85156,-29.85156 0,-16.51195 13.33962,-29.853521 29.85156,-29.853521 z m -32.63022,-5.341867 c -2.33083,-0.841072 -3.47163,-2.270799 -2.86838,-3.594814 0.53128,-1.166008 1.58276,-1.201248 3.06933,-0.102868 1.01575,0.750501 1.53493,0.829078 5.42561,0.821172 3.05704,-0.0063 5.47681,-0.256132 8.35975,-0.863416 3.95336,-0.832765 13.1134,-3.687102 16.38159,-5.104621 l 1.62754,-0.705928 -4.57836,-1.592775 c -4.42724,-1.540207 -10.43972,-4.070515 -11.95537,-5.031334 -0.64435,-0.408473 -1.0878,-0.262017 -3.50409,1.157276 -1.52151,0.893715 -2.94813,1.627716 -3.17028,1.631114 -0.66338,0.01011 -1.69897,-1.364788 -1.56235,-2.074295 0.11025,-0.572519 1.45571,-1.697483 3.23805,-2.707435 0.412,-0.233453 -0.0215,-0.839338 -1.89567,-2.650129 -3.60015,-3.478218 -4.16222,-6.191295 -1.74955,-8.445053 1.79437,-1.676203 4.04477,-2.252389 9.61596,-2.462043 5.53573,-0.208315 9.81088,0.187557 16.81384,1.556945 l 4.59228,0.897996 3.56493,-0.78172 c 2.6177,-0.574008 4.93703,-0.790591 8.72884,-0.815104 4.81639,-0.03113 5.26852,0.02652 6.71816,0.856935 1.53302,0.878156 2.69564,2.596632 2.67944,3.96048 -0.005,0.375076 -0.32894,1.388778 -0.72105,2.252667 l -0.71296,1.57071 2.28867,1.153939 c 4.72821,2.383945 8.97666,5.948225 9.86031,8.272406 0.93913,2.470101 -0.0506,4.565586 -2.77369,5.871974 -3.56615,1.710906 -5.72008,1.573071 -5.72008,-0.366055 0,-1.066723 0.5322,-1.484517 2.58195,-2.026927 1.9876,-0.525962 2.97949,-1.32219 2.68744,-2.157301 -0.59179,-1.692147 -4.23229,-4.504304 -8.81908,-6.812403 l -2.62756,-1.322204 -0.87652,0.941532 c -1.02241,1.098231 -8.35479,6.038251 -10.37442,6.989511 -1.62919,0.767357 -1.69575,0.991739 -0.46107,1.554299 0.59813,0.272527 0.92213,0.721004 0.92213,1.276413 0,1.814494 -1.51607,2.164422 -5.16391,1.191896 l -2.02868,-0.540854 -3.50409,1.50829 c -4.76785,2.05226 -13.35818,4.896988 -18.26653,6.049038 -5.49574,1.289923 -13.16518,1.601455 -15.82213,0.642688 z M 145.758,73.195883 c 5.44253,-2.744621 12.30681,-7.381381 11.90056,-8.038722 -0.39384,-0.637233 -12.15127,-4.439161 -13.75324,-4.447301 -2.01084,-0.01022 -18.90568,6.296247 -18.90568,7.057061 0,0.766612 15.52541,6.490042 17.80756,6.564738 0.36079,0.0118 1.68865,-0.499291 2.9508,-1.135776 z m -13.75021,-12.331627 4.61064,-1.804875 -2.95081,-0.504281 c -4.20551,-0.718709 -14.70178,-0.750962 -16.5623,-0.05089 -2.97206,1.118322 -2.62124,2.721001 1.21323,5.542384 l 2.35576,1.733366 3.36142,-1.555411 c 1.84879,-0.855475 5.43622,-2.367604 7.97206,-3.360289 z m 29.80216,-0.682104 c -0.0716,-0.50101 -0.55789,-0.920327 -1.40065,-1.207721 -1.45042,-0.494614 -5.32931,-0.579675 -7.56143,-0.165813 l -1.47541,0.273558 3.50407,1.198016 c 1.92725,0.658911 4.00204,1.421813 4.61064,1.695341 1.0034,0.450964 1.16835,0.426329 1.76952,-0.264293 0.36462,-0.418888 0.61359,-1.106976 0.55326,-1.529088 z m -3.95811,24.913441 c -0.21634,-0.404249 -0.39335,-0.994883 -0.39335,-1.312522 0,-0.367929 -0.32995,-0.577524 -0.90915,-0.577524 -1.95065,0 -2.11576,-2.806884 -0.18779,-3.19248 0.78908,-0.157816 1.11606,-0.481125 1.29069,-1.276169 0.15709,-0.715245 0.52666,-1.138294 1.12579,-1.288664 1.31356,-0.329683 1.98734,0.06841 2.23814,1.3224 0.17375,0.868805 0.41838,1.115256 1.10697,1.115256 0.59202,0 1.02699,0.313985 1.31714,0.950772 0.54341,1.192701 0.0296,2.13977 -1.24482,2.294288 -0.65834,0.07983 -1.00088,0.432525 -1.25378,1.290978 -0.28504,0.967602 -0.56025,1.201716 -1.52221,1.294902 -0.86947,0.08423 -1.27637,-0.07702 -1.56763,-0.621237 z m -54.17178,-7.496577 c -0.24345,-0.243441 -0.44262,-0.813356 -0.44262,-1.266478 0,-0.615877 -0.24667,-0.853318 -0.97713,-0.940569 -1.22143,-0.145888 -1.78552,-1.006413 -1.47381,-2.248316 0.17188,-0.684863 0.52012,-0.987773 1.23175,-1.071426 0.76074,-0.08943 1.06147,-0.386142 1.28944,-1.272203 0.17292,-0.672085 0.59625,-1.233749 1.01179,-1.342416 0.94053,-0.245958 2.15715,0.634357 2.30459,1.667555 0.068,0.476334 0.42813,0.88004 0.85515,0.958573 1.08789,0.200079 1.65983,0.78155 1.65983,1.68751 0,1.038724 -0.6671,1.688437 -1.7336,1.688437 -0.63934,0 -0.84836,0.209016 -0.84836,0.848355 0,1.056987 -0.64782,1.733599 -1.65982,1.733599 -0.42603,0 -0.97378,-0.19918 -1.21721,-0.442621 z m 39.23518,-24.112297 c -0.31879,-0.318791 -0.57963,-0.865408 -0.57963,-1.2147 0,-0.398203 -0.44711,-0.766711 -1.19876,-0.987992 -1.0569,-0.311151 -1.19877,-0.505698 -1.19877,-1.643894 0,-1.138194 0.14187,-1.332744 1.19877,-1.643892 0.90554,-0.266589 1.19876,-0.561753 1.19876,-1.206673 0,-1.129124 1.42943,-1.823605 2.53531,-1.231763 0.44438,0.237835 0.78435,0.780765 0.78435,1.252649 0,0.621356 0.30443,0.922497 1.19876,1.185787 1.0569,0.311148 1.19877,0.505698 1.19877,1.643892 0,1.138196 -0.14187,1.332743 -1.19877,1.643894 -0.89433,0.263289 -1.19876,0.564429 -1.19876,1.185785 0,0.770108 -0.92846,1.59653 -1.79366,1.59653 -0.20171,0 -0.62758,-0.260829 -0.94637,-0.579623 z M 100.3476,210.35417 c -0.378114,-0.37813 -0.687494,-4.67215 -0.687494,-9.54228 0,-8.24229 -0.155632,-8.91868 -2.250002,-9.77873 -1.2375,-0.50819 -11.475,-3.87566 -22.75,-7.48327 -11.275,-3.60761 -21.195651,-7.11968 -22.045891,-7.80459 -3.268113,-2.63264 -4.953861,-6.2881 -4.942612,-10.71781 0.0099,-3.90343 1.836906,-7.89012 13.254646,-28.92304 7.723513,-14.22768 14.319274,-25.19899 15.825077,-26.32323 6.082594,-4.54132 16.150622,-2.71168 20.023102,3.63874 3.682014,6.03809 2.687928,10.36941 -6.114322,26.64065 -4.4,8.13353 -8,15.19529 -8,15.6928 0,0.4975 4.3875,2.12729 9.75,3.62176 l 9.749996,2.71721 5.62252,-3.05225 c 4.81977,-2.61647 5.794,-2.84565 6.82352,-1.60515 0.9888,1.19144 0.43712,1.9187 -3.12252,4.11631 -2.37794,1.46806 -5.27607,3.26568 -6.44029,3.99471 -1.83422,1.14858 -3.86987,0.84533 -15.249998,-2.27178 -9.418118,-2.5797 -13.133228,-4.02217 -13.133228,-5.09924 0,-0.82607 4.05,-9.00481 9,-18.17498 4.95,-9.17017 9,-17.83708 9,-19.25979 0,-3.223 -4.168008,-8.31458 -7.488631,-9.148 -1.37199,-0.34435 -3.973197,-0.008 -5.78046,0.74686 -2.873336,1.20056 -4.83405,4.22285 -15.615167,24.06962 -6.781079,12.48316 -12.823753,24.00679 -13.428165,25.60806 -1.385611,3.6709 -0.09568,7.61099 3.312423,10.11783 1.375,1.01139 12.751485,5.07534 25.281078,9.031 l 22.781078,7.19212 -0.28108,10.98967 c -0.26004,10.16704 -1.06595,13.03443 -3.09358,11.0068 z m 73.77466,-0.59219 c -0.2964,-0.77239 -0.40913,-5.85449 -0.25053,-11.29356 l 0.28837,-9.88923 22.5,-7.25623 c 12.375,-3.99093 23.46279,-7.77069 24.63954,-8.39946 2.44276,-1.30524 4.37875,-4.98814 4.32131,-8.22055 -0.0521,-2.93134 -22.95009,-45.30943 -26.72073,-49.45295 -2.32386,-2.55367 -3.75417,-3.25 -6.67575,-3.25 -4.69541,0 -9.56437,4.41734 -9.56437,8.67723 0,1.66009 3.72254,9.74546 9,19.54802 4.95,9.19432 9,17.37302 9,18.17489 0,1.44687 -1.09025,1.83968 -18.16428,6.54438 l -7.66427,2.11188 -6.58573,-3.61997 c -3.62214,-1.99098 -6.58572,-4.0428 -6.58572,-4.55958 0,-2.29555 3.66826,-2.03586 8.55088,0.60535 l 5.21939,2.82338 10.13825,-2.78049 10.13826,-2.78049 -2.8809,-5.1223 c -15.69557,-27.90706 -16.96029,-32.37005 -11.07314,-39.07515 4.369,-4.97602 9.50216,-6.35548 15.34549,-4.12389 5.23217,1.99818 5.57456,2.5096 21.92503,32.74867 8.85619,16.37893 10.63611,20.39643 10.633,24 -0.004,4.68493 -2.65581,10.04032 -5.80648,11.7265 -1.05449,0.56435 -11.76607,4.14287 -23.80351,7.95228 l -21.88627,6.9262 -0.5,9.2819 c -0.33178,6.15911 -0.92037,9.42079 -1.74947,9.69471 -0.68721,0.22704 -1.49198,-0.21916 -1.78837,-0.99154 z" /></g></g><defs>
      <linearGradient id="gradient-accent" gradientTransform="rotate(150)">
        <stop offset="0%" style="stop-color: var(--accent-light);" />
        <stop offset="50%" style="stop-color: var(--accent-regular);" />
        <stop offset="90%" style="stop-color: var(--accent-dark);" />
      </linearGradient>
    </defs></svg>
  <a href="/">Go Back Home</a>

  <p>keep calm this is just a test. will be gone in a sec XD</p>
</BaseLayout>

<style>
#lost-path {
  margin-inline: auto;
  width: 30vh;
  padding-block: 4rem;
 }

a {
  margin-inline:auto;
  position: relative;
  display: flex;
  place-content: center;
  text-align: center;
  padding: 0.56em 2em;
  gap: 0.8em;
  color: var(--accent-text-over);
  text-decoration: none;
  line-height: 1.1;
  border-radius: 999rem;
  overflow: hidden;
  background: var(--gradient-accent-orange);
  box-shadow: var(--shadow-sm);
  white-space: nowrap;
}

@media (min-width: 20em) {
  a {
    font-size: var(--text-lg);
  }
}

/* Overlay for hover effects. */
a::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: background-color var(--theme-transition);
  mix-blend-mode: overlay;
}

a:focus::after,
a:hover::after {
  background-color: hsla(var(--gray-999-basis), 0.3);
}

@media (min-width: 50em) {
  a {
    padding: 1.125rem 2.5rem;
    font-size: var(--text-xl);
  }
}

</style>
