<div class="hero-img-wrapper" style="position: relative; width: 500px; height: 500px;">
  <img
    alt="Tom Gora smiling in a dark tshirt while holding a smartphone in both hands and looking into a camera."
    width="300"
    height="300"
    src="/assets/portrait.png"
    style="clip-path: url(#clip-svg); position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
  />
  
  <!-- Define clipPath -->
  <svg width="0" height="0">
    <defs>
      <clipPath id="clip-svg">
        <path d="m 274.8 -55 c 27.2 26.8 44.8 61.4 53.8 99.4 c 9 38.2 9.4 79.6 -9 109.4 c -18.2 29.8 -55 48 -93.6 62.4 c -38.6 14.2 -78.6 24.4 -115.2 15.2 c -36.4 -9.2 -69 -38 -74.6 -71 c -5.4 -33 16.4 -70.4 31.4 -101 c 15 -30.4 23 -54.2 39.4 -83 c 16.4 -28.6 41.2 -62.4 72.2 -69.8 c 31 -7.4 68.2 11.6 95.6 38.4 z" transform="translate(100 150)" />
      </clipPath>
    </defs>
  </svg>
  
  <!-- Overlay SVG with Stroke -->
          <svg id="outline-svg" viewBox="0 0 200 200" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path stroke-width="5" stroke="url(#gradient-accent)" d="M50.9,-62.5C64.5,-49.1,73.3,-31.8,77.8,-12.8C82.3,6.3,82.5,27,73.3,41.9C64.2,56.8,45.8,65.9,26.5,73.1C7.2,80.2,-12.8,85.3,-31.1,80.7C-49.3,76.1,-65.6,61.7,-68.4,45.2C-71.1,28.7,-60.2,10,-52.7,-5.3C-45.2,-20.5,-41.2,-32.4,-33,-46.8C-24.8,-61.1,-12.4,-78,3.1,-81.7C18.6,-85.4,37.2,-75.9,50.9,-62.5Z" transform="translate(100 100)" />
      <defs>
        <linearGradient id="gradient-accent" gradientTransform="rotate(150)">
          <stop offset="0%" style="stop-color: var(--accent-light);" />
          <stop offset="50%" style="stop-color: var(--accent-regular);" />
          <stop offset="90%" style="stop-color: var(--accent-dark);" />
        </linearGradient>
    </defs>
  </svg>
</div>

<style>
  .hero-img-wrapper {
    position:relative;
    height: 400px !important;
    width: 100vw;
    transform: translateX(-5%);
    top:-2rem;
    overflow: hidden;
  }

	img {
    object-fit: cover;
    clip-path: url(#clip-svg);
  }

  #outline-svg {
    position: absolute;
    scale: 0.8;
    top: -8%;
    left: 45%;
    transform: translateX(-51%);
    width: 500px;
    height: 500px;
    pointer-events: none;
  }
   
	@media (min-width: 50em) {
		 img {
      clip-path: url(#clip-svg);
      height:auto;
      width: auto;
      max-width: unset;
      margin-left: 2rem;
      object-fit: cover;
    }

		.hero-img-wrapper {
      margin-top: 2rem;
      margin-bottom: auto;
      height: 20em;
      top:2rem;
    }

    #outline-svg {
    transform: translateX(-42.5%);
    }

	}

  @media (min-width: 75em) {
    .hero-img-wrapper {
      margin-top: 4rem;
      transform: translateX(-10%);
    }
  }

  @media (min-width: 100em) {
  .hero-img-wrapper {
      margin-top: 8rem;
      transform: translateX(0);
    }
  }
</style>
