---
import Icon from './Icon.astro';
---

<theme-toggle>
	<button>
		<span class="sr-only">Dark theme</span>
		<span class="icon light"><Icon icon="power-off" /></span>
		<span class="icon dark"><Icon icon="power-on" /></span>
	</button>

<svg
   height="3500"
   width="590.82397"
   version="1.1"
   id="bulb"
   viewBox="0 0 378.12808 1900.0031"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg">
   <defs
   id="defs4" />
<ellipse
   style="fill:var(--gray-300);stroke:var(--gray-999);stroke-width:12.8;stroke-linecap:round;stroke-linejoin:bevel;stroke-dasharray:none;paint-order:stroke markers fill"
   id="bulb-fill"
   cx="188.40843"
   cy="1412.2543"
   rx="177.95364"
   ry="180.21947" /><g
   id="g16"
   transform="translate(-66.936378,1088.0034)">

<circle
     style="fill:none"
     cx="-256"
     cy="-322.93701"
     r="178.86301"
     id="circle1"
     transform="scale(-1)" /><path
     style="fill:var(--gray-999);fill-opacity:1;stroke:var(--gray-999);stroke-width:7.34003;stroke-dasharray:none;stroke-opacity:1"
     d="m 191.31475,424.54749 c -3.55517,-1.13001 -4.19316,-5.4838 -3.49884,-23.87832 1.16859,-30.96073 -6.47491,-59.84282 -20.39632,-77.0702 -12.316,-15.24071 -25.63187,-21.07785 -47.83506,-20.9689 -8.69585,0.0403 -16.52233,-1.05742 -17.39222,-2.44465 -1.87171,-2.98493 35.28158,-19.57844 82.10003,-36.66774 25.81698,-9.42354 50.47005,-15.86088 108.59531,-28.35615 28.75294,-5.38095 55.5158,-18.39117 84.17008,-11.02993 11.1465,2.86348 13.0105,14.3678 8.07993,23.21911 -4.5992,8.25653 -7.59271,5.28483 -5.25806,-5.21967 1.6866,-7.58847 1.0361,-9.4221 -4.62954,-13.05 -16.06496,-10.28688 -99.88007,19.83072 -120.67295,84.70461 -3.93498,12.27731 -4.72518,22.17223 -2.92945,36.68433 2.27157,18.35796 3.15049,20.33974 11.53391,26.00611 8.24064,5.56991 10.62494,5.77935 25.93552,2.2786 34.94232,-7.98958 60.20128,-27.06716 75.92355,-57.34339 11.31214,-21.78372 8.08685,-24.48259 -16.64976,-13.93245 -16.68992,7.11829 -26.87489,7.24354 -18.29174,0.22505 6.64734,-5.43569 34.59174,-12.84544 42.78548,-11.345 9.72785,1.78137 10.19696,4.29589 4.33,23.21025 -6.76652,21.81428 -10.54479,50.03494 -8.26693,61.74669 2.10179,10.80633 -1.56845,14.47888 -6.02796,6.03185 -2.60363,-4.93161 -3.81112,-28.95006 -2.01763,-40.13126 0.65794,-4.10147 -2.52599,-2.08452 -13.05237,8.26861 -34.21565,33.65237 -82.319,41.169 -98.62111,15.41044 -19.94881,-31.52048 -0.3765,-87.29333 42.70275,-121.68368 l 16.15449,-12.89626 -35.61328,8.80365 c -38.7933,9.58982 -45.85599,12.11431 -45.07831,16.11286 0.28224,1.44968 -4.89435,28.14733 -11.50288,59.32822 -6.60855,31.18084 -13.68187,67.62745 -15.71852,80.99246 -2.0367,13.36499 -3.88464,24.31729 -4.1066,24.33841 -0.22168,0.023 -2.36014,-0.5835 -4.75152,-1.34354 z m 26.62133,-163.70573 c -0.15596,-1.70137 -87.01782,31.49424 -88.98198,34.00588 -0.59708,0.76354 3.08355,2.36459 8.17923,3.55796 21.67568,5.07619 40.27206,22.88334 51.51431,49.32797 l 7.08052,16.65521 11.12667,-51.52598 c 6.11967,-28.33928 11.10629,-51.74874 11.08125,-52.02104 z"
     id="path1-2" /><path
     style="fill:var(--gray-999);fill-opacity:1"
     d="m 228.031,47.508 h 60.328 c 17.278,0 31.286,14.008 31.286,31.286 v 74.057 h -122.9 V 78.794 c 0,-17.279 14.007,-31.286 31.286,-31.286 z"
     id="path1" /><path
     id="path3"
     style="fill:var(--gray-999);fill-opacity:1"
     d="m 222.75794,37.656324 c -20.39182,2.600982 -36.21133,20.050776 -36.21133,41.13758 v 68.296386 c -69.98637,27.73973 -119.610229,96.10606 -119.610229,175.84534 0,104.2491 84.815019,189.06412 189.064119,189.06412 104.2491,0 189.06412,-84.81502 189.06412,-189.06412 0,-78.06228 -47.55877,-145.22261 -115.22023,-174.04034 V 78.793904 c 0,-21.087804 -15.81825,-38.537598 -36.21007,-41.13758 -30.29251,-5.041621 -35.68714,-4.705921 -70.87638,0 z m -15.93731,54.068805 h 102.62622 v 49.852601 c -16.95482,-5.006 -34.89053,-7.70502 -53.44635,-7.70502 -16.96182,0 -33.40319,2.2586 -49.0551,6.46751 z m 62.94615,62.207671 c 1.51144,0.0315 3.04951,0.122 4.64626,0.30625 4.21093,0.62425 10.17552,0.39076 10.39877,1.38876 l 9.36376,80.2089 c 5.08829,-1.3725 6.72271,-1.72221 7.41627,-1.6075 l -8.09627,-75.5764 c 73.36637,18.28382 131.17276,85.33754 131.17276,164.28282 -0.002,93.00119 -75.66664,168.66533 -168.66783,168.66533 -93.00119,0 -168.664079,-75.66414 -168.664079,-168.66533 0,-93.00119 75.662889,-168.66408 168.664079,-168.66408 4.93572,0 9.23195,-0.43322 13.76628,-0.33875 z m 31.82506,80.29641 0.0437,0.68 c 0,0 0.73332,-0.55144 -0.0437,-0.68 z m -97.26019,14.59503 c -0.0346,0.11371 -0.0726,0.22636 -0.1075,0.34 0.057,0.0817 0.0906,0.13302 0.1375,0.2 -0.006,-0.18049 -0.0337,-0.35839 -0.03,-0.54 z m 1.4925,10.25502 c 0.20843,0.14986 0.41663,0.30005 0.625,0.45 0.0138,-0.12023 0.0256,-0.22555 0.0387,-0.3525 -0.21899,-0.0382 -0.44051,-0.0727 -0.66375,-0.0975 z" /><path
     style="fill:none;fill-opacity:1;stroke:var(--gray-999);stroke-width:7.5332;stroke-linecap:round;stroke-linejoin:bevel;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke markers fill"
     d="m 222.29102,151.47703 c 1.85448,34.18745 1.34054,38.79876 1.34054,38.79876"
     id="path16" /><path
     style="fill:none;fill-opacity:1;stroke:var(--gray-999);stroke-width:8.08597;stroke-linecap:round;stroke-linejoin:bevel;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke markers fill"
     d="m 223.55367,202.53228 c -0.6897,33.4276 -1.68146,37.85879 -1.68146,37.85879"
     id="path16-2" /></g><path
   style="fill:#767676;stroke:var(--gray-999);stroke-width:12.8;stroke-linecap:round;stroke-linejoin:bevel;stroke-dasharray:none;paint-order:stroke markers fill"
   d="M 192.03424,1127.8994 V 0.72180953"
   id="path2" /></svg>
</theme-toggle>

<style>
  theme-toggle {
    position:relative;
  }

  #bulb {
    height: 10rem;
    position: absolute;
    top: -3rem;
    right: -22rem;
    z-index: -10;
    transform-origin: top;
  }

  @keyframes bulb-swing {
   0% {
      transform: rotate(3deg);
    }
   30% {
    transform: rotate(-2deg);
    }
   60% {
    transform: rotate(1deg);
    }
   90% {
      transform: rotate(-1deg);
    }
   100% {
    transform: rotate(0deg);
    }
  }
  

  @media(width > 50em) {
    #bulb {
      right: -30rem;
    }
  }

  :global(.theme-dark) #bulb-fill {
    fill: var(--gray-0) !important;
  }

  :global(.theme-dark) #bulb {
    animation: bulb-swing 1s ease-in-out forwards;
  }

	:global(.theme-dark) #bulb-fill{
    fill: white;
    filter: blur(4rem) !important;
    scale: 1.6;
    transform: translate(-5rem, -35rem);
  }


	button {
		display: flex;
		border: 0;
		border-radius: 999rem;
		padding: 0;
		background-color: var(--gray-999);
		cursor: pointer;
	}

	.icon {
		z-index: 1;
		position: relative;
		display: flex;
		padding: 0.5rem;
		width: 2rem;
		height: 2rem;
		font-size: 1rem;
		color: var(--accent-regular);
	}



	:global(.theme-dark) .icon.dark,
	button[aria-pressed='false'] .icon.light {
    display: none;
    }
	}

	@media (prefers-reduced-motion: no-preference) {
		.icon,
		.icon.light::before {
			transition:
				transform var(--theme-transition),
				color var(--theme-transition);
		}
	}

	@media (forced-colors: active) {
		.icon.light::before {
			background-color: SelectedItem;
		}
	}
</style>

<script>
	class ThemeToggle extends HTMLElement {
		constructor() {
			super();

			const button = this.querySelector('button')!;

			/** Set the theme to dark/light mode. */
			const setTheme = (dark: boolean) => {
				document.documentElement.classList[dark ? 'add' : 'remove']('theme-dark');
				button.setAttribute('aria-pressed', String(dark));
			};

			// Toggle the theme when a user clicks the button.
			button.addEventListener('click', () => setTheme(!this.isDark()));

			// Initialize button state to reflect current theme.
			setTheme(this.isDark());
		}

		isDark() {
			return document.documentElement.classList.contains('theme-dark');
		}
	}
	customElements.define('theme-toggle', ThemeToggle);
</script>
